<h1>Listing post2s</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @post2s.each do |post2| %>
      <tr>
        <td><%= link_to 'Show', post2 %></td>
        <td><%= link_to 'Edit', edit_post2_path(post2) %></td>
        <td><%= link_to 'Destroy', post2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post2', new_post2_path %>
